@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

body {
    font-family: 'Alata';
  }

  nav  li {
      font-size: 0.9em;
      list-style: none;
      display: inline-block;
      cursor: pointer;
  }

  nav {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: stretch;
        align-content: stretch;
    }

    .herosection {
    
    }

      